* {
    transition: 300ms;
    font-family: sans-serif;

    --red: #D50E39;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('/src/img/image0.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.question {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 1rem;
    border-radius: .2rem;

    border: 1px solid #dedede;
}

input:focus-within {
    outline: none;
}

label {
    font-weight: bold;
    color: var(--red);
}

button {
    border: 1px solid var(--red);
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background: white;
    color: var(--red);
}

button:hover {
    cursor: pointer;
    background: var(--red);
    color: white;
}


input:valid{
    border-color: #06f762;
}